* {
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar
{
    background-color: rgba(33, 33, 30, 0.5);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    font-family: "Knack Nerd Font";
    font-size: 11pt;
}

#workspaces
{
    margin: 7px 6px 6px 10px;
}

#workspaces button
{
    padding: 0 10px;
    background: none;
    color: #dfdfdf;
}

#workspaces button:hover
{
    box-shadow: none;
}

#workspaces button.focused
{
    color: #3fc7ff;
}

#workspaces button.urgent
{
    color: #bd2c40;
}

#mode {
    background-color: #3fc7ff;
    color: #000000;
    font-family: "Noto Sans";
    font-size: 11pt;
    padding: 0px 12px;
}

#custom-mpd-tail
{
    color: #dfdfdf;
    padding-left: 14px;
    font-family: "Noto Sans", "Knack Nerd Font";
    font-size: 11pt;
}

#custom-openweathermap-simple
{
    color: #dfdfdf;
    padding-left: 20px;
    font-family: "Noto Sans", "Weather Icons";
    font-size: 11pt;
}

#window
{
    color: #dfdfdf;
    font-family: "Noto Sans";
    font-size: 11pt;
}

#custom-dualsense
{
    color: #dfdfdf;
    padding-right: 12px;
}

#custom-openvpn
{
    color: #dfdfdf;
    padding-right: 12px;
}

#language
{
    color: #dfdfdf;
    padding-right: 18px;
}

#custom-pulseaudio
{
    color: #dfdfdf;
    padding-right: 18px;
    min-width: 48px;
}

#custom-pulseaudio.muted
{
    color: #555;
}

#memory
{
    color: #dfdfdf;
    padding-right: 18px;
}

#cpu
{
    color: #dfdfdf;
    padding-right: 18px;
    min-width: 48px;
}

#temperature.cpu
{
    color: #dfdfdf;
    padding-right: 18px;
}

#temperature.cpu.critical
{
    color: #e60053;
}

#temperature.gpu
{
    color: #dfdfdf;
    padding-right: 18px;
}

#temperature.gpu.critical
{
    color: #e60053;
}

#clock
{
    color: #dfdfdf;
    padding-right: 10px;
}

#clock:hover
{
    background: none;
    box-shadow: none;
    text-shadow: none;
}

#tray
{
    padding-right: 18px;
}

#tray menu
{
    font-family: "Noto Sans";
    font-size: 10.5pt;
}
